{% extends 'layout/intern.twig' %}


{% block page_scripts %}
<script>
    select2_prepareSelect('#input-id_owner', select2_formatUsers, '0');
</script>
{% endblock %}


{% block content %}

    {% embed "components/card.twig" with { 'content': { 'is_centered': true } } %}
        {% block content %}
            {% import "macros/macros.twig" as macros %}
            {% import "macros/forms.twig" as forms %}

            <form action="?page={{ _app.page }}&action=add" method="post" autocomplete="off">
                {{ csrf_field() }}

                {{ forms.select_wrapped({
                    'label': owner,
                    'help': owner_help,
                    'name': 'id_owner',
                    'options': _owner_ids,
                    'is_required': true,
                }) }}

                {% include 'components/call_to_action.twig' with { '_back': { 'target': 'domains' }, '_confirm': { 'label': continue } } %}
            </form>
        {% endblock %}
    {% endembed %}

{% endblock %}