{% extends 'layout/popup.twig' %}


{% block content %}
    <h2 class="title is-5 has-text-centered has-margin-bottom-none">
        {{ _headline }}
    </h2>
    <pre>{{ _whois }}</pre>
{% endblock %}
